POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"

PHX_SERVER=true
DATABASE_URL="ecto://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST/api_prod"
ECTO_IPV6=false
POOL_SIZE=2
SECRET_KEY_BASE="SsUzqOECkX6zNcRItaYa1tZXUTeMYWcSPfnIYnA+8/GkHeAHLwnkN4ftoDn+u/6a"
PHX_HOST="localhost"
PORT=4000
